* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* overflow: hidden; */
}
body {
  overflow-x: hidden; /* Hide scrollbars */
}
:root {
  --mainColor: rgb(255, 124, 8);
  --whiteColor: white;
  --blackblueColor: rgb(35, 31, 64);
  --dealAreaColor: rgb(238, 246, 235);
  --fontBarlow: "Barlow", sans-serif;
  --fontOleo: "Oleo Script", cursive;
  --mainColorLighter: rgb(255, 227, 221);
  --trasitionRoutine: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container {
  width: 100vw;
  height: fit-content;
  position: relative;
}
.container > .btnToTop {
  position: fixed;
  z-index: 3;
  background-color: var(--mainColor);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid var(--whiteColor);
  bottom: 50px;
  right: 20px;
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-contact {
  background-color: rgb(35, 31, 64);
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}
.container-contact > .contact {
  display: flex;
  padding: 15px;
  width: 500px;
  background-color: rgb(255, 124, 8);
  color: white;
  transform: skew(-20deg);
  justify-content: center;
}
.container-contact > .contact > .email {
  display: flex;
  margin: 0px 10px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: skew(20deg);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.container-contact > .contact > .email:hover {
  color: rgb(35, 31, 64);
}
.container-contact > .contact > .phone:hover {
  color: rgb(35, 31, 64);
}
.container-contact > .contact > .email > p {
  margin: 0px 10px;
  cursor: default;
}
.container-contact > .contact > .phone > p {
  margin: 0px 10px;
  cursor: default;
}
.container-contact > .contact > .phone {
  display: flex;
  margin: 0px 10px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: skew(20deg);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.container-contact > .socialmedia {
  display: flex;
  /* padding: 20px; */
  color: white;
  align-items: center;
}
.container-contact > .socialmedia > .item {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 124, 8);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-contact > .socialmedia > .item:hover {
  background-color: white;
  color: rgb(255, 124, 8);
}
.container > .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  background-color: var(--whiteColor);
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.container > .main-menu > img {
  height: 50px;
}
.container > .main-menu > .menu {
  /* padding: 20px; */
  cursor: default;
  height: 100%;
  display: flex;
  align-items: center;
}
.container > .main-menu > .menu > ul {
  height: 100%;
  display: flex;
}
.container > .main-menu > .menu > ul > li {
  display: flex;
  margin: 0px 10px;
  cursor: default;
  height: 100%;
  align-items: center;
}
.container > .main-menu > .menu > ul > li:hover {
  border-bottom: 2px solid rgb(255, 124, 8);
}
.container > .main-menu > .menu > ul > li:hover > a {
  color: rgb(255, 124, 8);
}
.container > .main-menu > .menu > ul > li > a {
  text-decoration: none;
  color: rgb(35, 31, 64);
  cursor: default;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 16px;
}
.container > .main-menu > .other {
  display: flex;
  align-items: center;
}
.container > .main-menu > .other > .icon {
  width: 30px;
  height: 30px;
  background-color: rgb(245, 193, 148);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  color: rgb(35, 31, 64);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container > .main-menu > .other > .icon:hover {
  background-color: rgb(255, 124, 8);
  color: white;
}

.container > .bg-banner {
  width: 100%;
  height: 80vh;
  position: relative;
}

.container > .bg-banner > .banner {
  width: 100%;
  background: url(../../assets/image/banner_bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
}
.container > .bg-banner > .blue-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 33, 59, 0.7);
  top: 0;
  display: flex;
}
.container > .bg-banner > .blue-screen > .tomato {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 30px;
  left: 100px;
  animation: spinAround 30s linear infinite;
}
.container > .bg-banner > .blue-screen > .tomato2 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 300px;
  animation: spinAround 30s linear infinite;
}
.container > .bg-banner > .blue-screen > .tomato3 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 30px;
  animation: spinAround 30s linear infinite;
}
.container > .bg-banner > .blue-screen > .text {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.container > .bg-banner > .blue-screen > .text > p {
  font-family: "Oleo Script", cursive;
  font-size: 30px;
  font-weight: 600;
  color: var(--mainColor);
  width: 80%;
  align-self: center;
}
.container > .bg-banner > .blue-screen > .text > h1 {
  font-size: 58px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--whiteColor);
  width: 80%;
  align-self: center;
}
.container > .bg-banner > .blue-screen > .text > .search-area {
  width: 80%;
  align-self: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container > .bg-banner > .blue-screen > .text > .search-area > form {
  padding: 17px 17px;
  background-color: var(--whiteColor);
  border-radius: 80px;
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.container > .bg-banner > .blue-screen > .text > .search-area > form > input {
  border-radius: 30px;
  border: 1px solid #cccccc;
  outline: none;
  padding: 17px;
  width: 95%;
}
.container > .bg-banner > .blue-screen > .text > .search-area > form > button {
  position: absolute;
  border-radius: 30px;
  background-color: var(--mainColor);
  padding: 12px 25px;
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.container > .bg-banner > .blue-screen > .circle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container > .bg-banner > .blue-screen > .circle > .outside-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-bottom: 20px solid transparent;
  border-top: 20px solid var(--mainColor);
  border-right: 20px solid var(--whiteColor);
  border-left: 20px solid rgba(255, 255, 255, 0.5);
  animation: spinAround 30s linear infinite;
}
.container
  > .bg-banner
  > .blue-screen
  > .circle
  > .outside-circle
  > .inside-circle {
  width: 500px;
  height: 500px;
  background: url(../../assets/image/slider_img_1.png);
  border-radius: 50%;
  animation: spinAround1 30s linear infinite;
}
.container
  > .bg-banner
  > .blue-screen
  > .circle
  > .outside-circle
  > .inside-circle
  > .discount {
  width: 150px;
  height: 150px;
  background-color: var(--mainColor);
  border-radius: 50%;
  border: 5px solid var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
  > .bg-banner
  > .blue-screen
  > .circle
  > .outside-circle
  > .inside-circle
  > .discount
  > p {
  font-family: "Oleo Script", cursive;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: var(--whiteColor);
}

.container > .deal-area {
  width: 100vw;
  background-color: var(--dealAreaColor);
  padding: 90px 0px;
}
.container > .deal-area > .deal-container {
  width: 80%;
  margin: auto;
}
.container > .deal-area > .deal-container > .deal-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.container > .deal-area > .deal-container > .deal-heading > .text {
}
.container > .deal-area > .deal-container > .deal-heading > .text > h4 {
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.container > .deal-area > .deal-container > .deal-heading > .text > h4::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 23px;
  background: url(../../assets/image/heading_shapes_1.png);
  background-repeat: no-repeat;
  left: 105%;
}
.container > .deal-area > .deal-container > .deal-heading > .text > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 990;
  color: var(--blackblueColor);
}
.container > .deal-area > .deal-container > .deal-heading > .control {
  display: flex;
  align-self: self-end;
}
.container
  > .deal-area
  > .deal-container
  > .deal-heading
  > .control
  > .button:last-child {
  width: 40px;
  height: 40px;
  background-color: var(--blackblueColor);
  border-radius: 50%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .deal-area
  > .deal-container
  > .deal-heading
  > .control
  > .button:last-child:hover {
  transform: scale(1.1);
}
.container
  > .deal-area
  > .deal-container
  > .deal-heading
  > .control
  > .button:first-child {
  width: 40px;
  height: 40px;
  background-color: var(--mainColor);
  border-radius: 50%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .deal-area
  > .deal-container
  > .deal-heading
  > .control
  > .button:first-child:hover {
  transform: scale(1.1);
}
.container > .deal-area > .deal-container > .slidecontainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.container > .deal-area > .deal-container > .dragging {
  cursor: grab;
  user-select: none;
}
.container > .deal-area > .deal-container > .slidecontainer > .item-container {
  position: relative;
  display: flex;
  min-width: 31%;
  max-width: 31%;
  height: 200px;
  margin: 0px 10px;
  padding: 8px;
  background-color: var(--whiteColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container
  > .deal-area
  > .deal-container
  > .slidecontainer
  > .item-container
  > .img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 0% 71% 36% 39% / 46% 67% 32% 0%;
}
.container
  > .deal-area
  > .deal-container
  > .slidecontainer
  > .item-container
  > .content-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.container
  > .deal-area
  > .deal-container
  > .slidecontainer
  > .item-container
  > .discount {
  position: absolute;
  background-color: var(--mainColor);
  width: 30px;
  height: 30px;
  padding: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid var(--whiteColor);
  color: var(--whiteColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
  > .deal-area
  > .deal-container
  > .slidecontainer
  > .item-container
  > .img-container
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.container
  > .deal-area
  > .deal-container
  > .slidecontainer
  > .item-container
  > .img-container
  > img:hover {
  transform: scale(1.1);
}
.container > .booking-area {
  width: 100%;
  padding: 90px 0px;
}
.container > .booking-area > .booking-container {
  width: 100%;
}
.container > .booking-area > .booking-container > .booking-bg {
  background: url(../../assets/image/booking-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 500px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: end;
}
.container > .booking-area > .booking-container > .booking-bg > .booking-form {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 124, 8, 0.9);
  border-radius: 0px 10px 10px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 500px 200px;
  border-color: transparent transparent rgba(255, 124, 8, 0.9) transparent;
  transform: rotate(0deg);
  top: 0;
  position: absolute;
  right: 100%;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container {
  width: 80%;
  height: 90%;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-title {
  border-bottom: 2px solid var(--whiteColor);
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-title
  > h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0px;
  color: var(--whiteColor);
  cursor: default;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 20px;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > input {
  /* width: 100%; */
  padding: 15px 10px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  margin-top: 15px;
  margin-bottom: 20px;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > label {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--whiteColor);
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > p {
  position: absolute;
  bottom: 0;
  font-family: var(--fontBarlow);
  color: var(--whiteColor);
  font-weight: 900;
  top: calc(100% - 15px);
  background-color: var(--blackblueColor);
  height: 50%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
  border-radius: 0px 10px 10px 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  vertical-align: middle;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > .input-time {
  padding: 15px 10px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: var(--whiteColor);
  display: flex;
  cursor: pointer;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > .input-time
  > .arrow {
  flex: 1;
  display: flex;
  justify-content: end;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > .option-time {
  /* padding: 15px 10px; */
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--whiteColor);
  display: flex;
  border: 1px solid rgb(160, 160, 160);
  display: none;
  position: absolute;
  z-index: 2;
  top: 90%;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > .option-time
  > ul {
  width: 100%;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > .option-time
  > ul
  > li {
  list-style: none;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-content
  > .form-item
  > .option-time
  > ul
  > li:hover {
  background-color: rgb(214, 214, 214);
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-button {
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-button
  > .button {
  padding: 10px;
  background-color: var(--blackblueColor);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: var(--whiteColor);
  display: flex;
  position: relative;
  justify-content: center;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-button
  > .button:hover
  > .button-icon {
  left: 0;
  transform: translateX(100%);
  opacity: 1;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-button
  > .button:hover
  > p {
  transform: translateX(50%);
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-button
  > .button
  > .button-icon {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
}
.container
  > .booking-area
  > .booking-container
  > .booking-bg
  > .booking-form
  > .form-container
  > .form-button
  > .button
  > p {
  width: fit-content;
  transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.container > .menu-area {
  width: 100%;
  height: 1100px;
}
.container > .menu-area > .menu-container {
  width: 80%;
  margin: auto;
}
.container > .menu-area > .menu-container > .menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.container > .menu-area > .menu-container > .menu-header > .text {
}
.container > .menu-area > .menu-container > .menu-header > .text > h4 {
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.container > .menu-area > .menu-container > .menu-header > .text > h4::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 23px;
  background: url(../../assets/image/heading_shapes_1.png);
  background-repeat: no-repeat;
  left: 105%;
}
.container > .menu-area > .menu-container > .menu-header > .text > h2 {
  font-family: var(--fontBarlow);
  font-size: 24px;
  font-weight: 990;
  color: var(--blackblueColor);
}
.container > .menu-area > .menu-container > .menu-header > .control {
  display: flex;
  align-self: self-end;
}
.container > .menu-area > .menu-container > .menu-header > .control > .button {
  padding: 10px 15px;
  margin: 0px 5px;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  color: var(--mainColor);
  font-family: var(--fontBarlow);
  font-weight: 700;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-header
  > .control
  > .button
  > p {
  cursor: pointer;
}
.container
  > .menu-area
  > .menu-container
  > .menu-header
  > .control
  > .button:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.container > .menu-area > .menu-container > .menu-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container > .menu-area > .menu-container > .menu-content > .menu-item {
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
}
.container > .menu-area > .menu-container > .menu-content > .menu-item:hover {
  transform: translateY(-10px);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .image-food {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .image-food
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .image-food
  > img:hover {
  transform: scale(1.1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content {
  height: 50%;
  margin: 20px;
  position: relative;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > p:first-child {
  font-family: var(--fontBarlow);
  font-size: 20px;
  color: var(--blackblueColor);
  font-weight: 600;
  text-align: center;
  cursor: default;
  margin: 15px 0px;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-star {
  text-align: center;
  margin: 15px 0px;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-price {
  font-family: var(--fontBarlow);
  font-size: 20px;
  color: var(--mainColor);
  font-weight: 600;
  text-align: center;
  cursor: default;
  margin: 15px 0px;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-type {
  width: fit-content;
  height: fit-content;
  background-color: var(--mainColor);
  padding: 5px 10px;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  right: -20px;
  top: -20px;
  transform: translateY(-50%);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-type:hover
  > p {
  color: var(--blackblueColor);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-type
  > p {
  font-family: var(--fontOleo);
  color: var(--whiteColor);
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: default;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart {
  width: fit-content;
  height: fit-content;
  background-color: var(--mainColor);
  padding: 10px 10px;
  border-radius: 0px 5px 5px 0px;
  transform: translateY(-50%);
  position: relative;
  left: -20px;
  bottom: 0;
  margin-top: 50px;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart:hover {
  background-color: var(--blackblueColor);
}

.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart::after {
  content: "";
  width: 10px;
  height: 100%;
  background-color: var(--mainColor);
  position: absolute;
  right: 100%;
  top: 0;
  border-radius: 0px 0px 0px 5px;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart:hover::after {
  background-color: var(--blackblueColor);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart::before {
  content: "";
  /* width: 10px;
  height: 100%; */
  /* background-color: var(--mainColor); */
  position: absolute;
  right: 100%;
  bottom: 98%;
  border-style: solid;
  border-width: 0 0 20px 10px;
  border-color: transparent transparent rgb(180, 88, 8) transparent;
  transform: rotate(0deg);
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart:hover::before {
  border-color: transparent transparent var(--blackblueColor) transparent;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .food-add-cart
  > p {
  font-family: var(--fontBarlow);
  color: var(--whiteColor);
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: default;
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .button-detail {
  border: 1px solid var(--mainColor);
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  color: var(--mainColor);
  position: absolute;
  right: 0;
  bottom: 20px;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .button-detail:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .button-like {
  border: 1px solid var(--mainColor);
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  color: var(--mainColor);
  position: absolute;
  right: 50px;
  bottom: 20px;
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .menu-area
  > .menu-container
  > .menu-content
  > .menu-item
  > .food-content
  > .button-like:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.container > .chef-area {
  width: 100%;
  background-color: var(--dealAreaColor);
  padding: 90px 0px;
}
.container > .chef-area > .chef-container {
  width: 80%;
  margin: auto;
}
.container > .chef-area > .chef-container > .chef-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.container > .chef-area > .chef-container > .chef-header > .text {
}
.container > .chef-area > .chef-container > .chef-header > .text > h4 {
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.container > .chef-area > .chef-container > .chef-header > .text > h4::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 23px;
  background: url(../../assets/image/heading_shapes_1.png);
  background-repeat: no-repeat;
  left: 105%;
}
.container > .chef-area > .chef-container > .chef-header > .text > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 990;
  color: var(--blackblueColor);
}
.container > .chef-area > .chef-container > .chef-header > .controlChef {
  display: flex;
  align-self: self-end;
}
.container
  > .chef-area
  > .chef-container
  > .chef-header
  > .controlChef
  > .button:last-child {
  width: 40px;
  height: 40px;
  background-color: var(--blackblueColor);
  border-radius: 50%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .chef-area
  > .chef-container
  > .chef-header
  > .controlChef
  > .button:last-child:hover {
  transform: scale(1.1);
}
.container
  > .chef-area
  > .chef-container
  > .chef-header
  > .controlChef
  > .button:first-child {
  width: 40px;
  height: 40px;
  background-color: var(--mainColor);
  border-radius: 50%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .chef-area
  > .chef-container
  > .chef-header
  > .controlChef
  > .button:first-child:hover {
  transform: scale(1.1);
}
.container > .chef-area > .chef-container > .chef-slide {
  display: flex;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.container > .chef-area > .chef-container > .dragging {
  cursor: grab;
  user-select: none;
}
.container > .chef-area > .chef-container > .chef-slide > .item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 23%;
  max-width: 23%;
  height: 350px;
  margin: 0px 15px;
  /* padding: 8px; */
  background-color: var(--whiteColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  border: 5px solid var(--whiteColor);
  left: 50%;
  transform: translateX(-50%) translateY(20%);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .img-container
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .img-container
  > img:hover {
  transform: scale(1.1);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-header {
  width: 100%;
  height: 40%;
  background-color: var(--mainColor);
  position: relative;
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-header::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 100px 0 0 150px;
  border-color: transparent transparent transparent white;
  transform: rotate(0deg);
  top: 20px;
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-header::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 100px 150px;
  border-color: transparent transparent white transparent;
  transform: rotate(0deg);
  right: 0;
  top: 20px;
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > p:first-child {
  font-family: var(--fontBarlow);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px;
  color: var(--blackblueColor);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > p:nth-child(2) {
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0px;
  color: var(--blackblueColor);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social {
  display: flex;
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social
  > .btnFb {
  background-color: var(--mainColorLighter);
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  transition: var(--trasitionRoutine);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social
  > .btnFb:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social
  > .btnTwitter {
  background-color: var(--mainColorLighter);
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  transition: var(--trasitionRoutine);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social
  > .btnTwitter:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social
  > .btnInst {
  background-color: var(--mainColorLighter);
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  transition: var(--trasitionRoutine);
}
.container
  > .chef-area
  > .chef-container
  > .chef-slide
  > .item-container
  > .content-container
  > .social
  > .btnInst:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.container > .download-area {
  width: 100%;
}
.container > .download-area > .download-container {
  width: 100%;
  display: flex;
}
.container > .download-area > .download-container > .download-information {
  flex: 1;
  position: relative;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .bg-download {
  width: 90%;
  height: 450px;
  background: url(../../assets/image/download-bg.jpg);
  position: relative;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .bg-download::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 60, 0.8);
  position: absolute;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information {
  width: 90%;
  height: 450px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > p {
  font-family: var(--fontOleo);
  color: var(--mainColor);
  font-size: 25px;
  text-align: center;
  cursor: default;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > h2 {
  font-family: var(--fontBarlow);
  font-size: 48px;
  color: var(--whiteColor);
  text-align: center;
  cursor: default;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > .button-download {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > .button-download
  > .button {
  background-color: var(--mainColor);
  padding: 10px 20px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: white;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > .button-download
  > .button:hover {
  background-color: rgb(235, 0, 41);
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > .button-download
  > .button
  > .text {
  margin-left: 10px;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > .button-download
  > .button
  > .text
  > p:first-child {
  font-size: 14px;
  font-family: var(--fontBarlow);
  color: var(--whiteColor);
  text-align: center;
  cursor: default;
}
.container
  > .download-area
  > .download-container
  > .download-information
  > .information
  > .button-download
  > .button
  > .text
  > p:last-child {
  font-size: 20px;
  font-family: var(--fontBarlow);
  color: var(--whiteColor);
  text-align: center;
  cursor: default;
}
.container > .download-area > .download-container > .slide-image {
  flex: 2;
  height: 450px;
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item {
  border-radius: 10px;
  overflow: hidden;
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item
  > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(1) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: relative;
  transform: translateX(-10%) scale(0.7);
  z-index: 1;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(2) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: absolute;
  transform: translateX(10%) scale(0.8);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(3) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: absolute;
  transform: translateX(30%) scale(0.9);
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(4) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: absolute;
  transform: translateX(50%);
  z-index: 4;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(5) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: absolute;
  transform: translateX(70%) scale(0.9);
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(6) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: absolute;
  transform: translateX(90%) scale(0.8);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container
  > .download-area
  > .download-container
  > .slide-image
  > .slide-container
  > .slide-item:nth-child(7) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 30%;
  position: absolute;
  transform: translateX(110%) scale(0.7);
  z-index: 1;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: var(--trasitionRoutine);
}
.container > .feedback-area {
  width: 100%;
  /* background-color: var(--dealAreaColor); */
  padding: 90px 0px;
  background: url(../../assets/image/testimonial_bg.jpg);
}
.container > .feedback-area > .feedback-container {
  width: 80%;
  margin: auto;
}
.container > .feedback-area > .feedback-container > .feedback-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.container > .feedback-area > .feedback-container > .feedback-header > .text {
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .text
  > h4 {
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .text
  > h4::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 23px;
  background: url(../../assets/image/heading_shapes_1.png);
  background-repeat: no-repeat;
  left: 105%;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .text
  > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 990;
  color: var(--blackblueColor);
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .feedback-control {
  display: flex;
  align-self: self-end;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .feedback-control
  > .button:first-child {
  width: 40px;
  height: 40px;
  background-color: var(--mainColor);
  border-radius: 50%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .feedback-control
  > .button:last-child {
  width: 40px;
  height: 40px;
  background-color: var(--blackblueColor);
  border-radius: 50%;
  color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-header
  > .feedback-control
  > .button:hover {
  transform: scale(1.1);
}
.container > .feedback-area > .feedback-container > .feedback-content {
  display: flex;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 70px 0px;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item {
  position: relative;
  display: flex;
  min-width: 40%;
  max-width: 40%;
  height: 250px;
  margin: 0px 30px;
  padding: 8px;
  background-color: var(--blackblueColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 1;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--blackblueColor);
  position: absolute;
  z-index: -1;
  right: 50%;
  top: -20px;
  border-radius: 10px;
  border: 20px solid var(--mainColor);
  border-right: transparent;
  /* transform: translateZ(0px); */
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item
  > .img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item
  > .img-container
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item
  > .content-container {
  height: 70%;
  align-self: flex-end;
  margin: 0px 20px;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item
  > .content-container
  > p:first-child {
  font-family: var(--fontBarlow);
  font-size: 30px;
  color: var(--whiteColor);
  text-align: center;
  margin: 10px 0px;
  cursor: default;
}
.container
  > .feedback-area
  > .feedback-container
  > .feedback-content
  > .feedback-item
  > .content-container
  > p:last-child {
  font-family: var(--fontBarlow);
  font-size: 16px;
  color: var(--whiteColor);
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px;
  cursor: default;
}
.container > .data-area {
  width: 100%;
}
.container > .data-area > .data-container {
  width: 100%;
  background: url(../../assets/image/counter_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.container > .data-area > .data-container > .blue-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 64, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .data-area > .data-container > .blue-screen > .content-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item
  > .circle {
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: rgba(35, 31, 64, 0.8);
  border-radius: 50%;
  border-top: 7px solid var(--whiteColor);
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--whiteColor);
  border-left: 7px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: spinAround 20s linear infinite;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item
  > .circle::after {
  content: "";
  width: 120%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-top: 2px solid transparent;
  border-right: 2px solid var(--whiteColor);
  border-bottom: 2px solid transparent;
  border-left: 2px solid var(--whiteColor);
  position: absolute;
  animation: spinAround1 10s linear infinite;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item
  > .circle
  > h4 {
  font-family: var(--fontBarlow);
  font-size: 36px;
  font-weight: 700;
  color: var(--whiteColor);
  animation: spinAround1 20s linear infinite;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item
  > .icon {
  background-color: var(--mainColor);
  width: fit-content;
  aspect-ratio: 1 / 1;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--whiteColor);
  position: absolute;
  top: 65%;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item
  > .text {
  margin-top: 50px;
}
.container
  > .data-area
  > .data-container
  > .blue-screen
  > .content-container
  > .data-item
  > .text
  > p {
  font-family: var(--fontBarlow);
  font-size: 20px;
  font-weight: 600;
  color: var(--whiteColor);
}
.container > .blog-area {
  width: 100%;
  padding: 90px 0px;
  height: 700px;
  background: url(../../assets/image/blog-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container > .blog-area > .blog-container {
  width: 80%;
  margin: auto;
}
.container > .blog-area > .blog-container > .blog-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.container > .blog-area > .blog-container > .blog-header > .text {
}
.container > .blog-area > .blog-container > .blog-header > .text > h4 {
  font-family: "Oleo Script", cursive;
  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
  position: relative;
  width: fit-content;
}
.container > .blog-area > .blog-container > .blog-header > .text > h4::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 23px;
  background: url(../../assets/image/heading_shapes_1.png);
  background-repeat: no-repeat;
  left: 105%;
}
.container > .blog-area > .blog-container > .blog-header > .text > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 990;
  color: var(--blackblueColor);
}
.container > .blog-area > .blog-container > .blog-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  height: 100px;
  column-gap: 20px;
}
.container > .blog-area > .blog-container > .blog-list > .blog-item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  transition: var(--trasitionRoutine);
}
.container > .blog-area > .blog-container > .blog-list > .blog-item:hover {
  transform: translateY(-5%);
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-img {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  overflow: hidden;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-img
  > img {
  width: 100%;
  object-fit: cover;
  transition: var(--trasitionRoutine);
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-img
  > img:hover {
  transform: scale(1.1);
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-type {
  width: fit-content;
  background-color: var(--mainColor);
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 30px;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-type
  > p {
  font-family: var(--fontOleo);
  color: var(--whiteColor);
  cursor: default;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-header {
  height: 20%;
  padding: 15px;
  display: flex;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-header
  > .blog-item-content-header-img {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  padding: 5px;
  background-color: var(--whiteColor);
  border-radius: 50%;
  display: inline-block;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-header
  > .blog-item-content-header-img
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-header
  > .blog-item-content-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-header
  > .blog-item-content-header-text
  > p:first-child {
  font-family: var(--fontBarlow);
  font-size: 17px;
  font-weight: 600;
  color: var(--blackblueColor);
  text-transform: capitalize;
  cursor: default;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-header
  > .blog-item-content-header-text
  > p:last-child {
  font-family: var(--fontBarlow);
  font-size: 13px;
  font-weight: 300;
  color: var(--mainColor);
  cursor: default;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-body {
  margin-top: 10px;
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-body
  > h4 {
  font-family: var(--fontBarlow);
  font-size: 24px;
  color: var(--blackblueColor);
  cursor: default;
  transition: var(--trasitionRoutine);
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-body
  > h4:hover {
  color: var(--mainColor);
}
.container
  > .blog-area
  > .blog-container
  > .blog-list
  > .blog-item
  > .blog-item-content
  > .blog-item-content-body
  > p {
  font-family: var(--fontBarlow);
  font-size: 16px;
  color: var(--blackblueColor);
  -webkit-line-clamp: 3;
  line-height: 1.6rem;
  display: -webkit-box;
  max-height: 4.5rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 15px;
  cursor: default;
}
.container > .footer-area {
  width: 100%;
}
.container > .footer-area > .footer-container {
  width: 100%;
  height: 450px;
  background: url(../../assets/image/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container > .footer-area > .footer-container > .blue-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 33, 59, 0.9);
  top: 0;
  display: flex;
}
.container > .footer-area > .footer-container > .blue-screen > .footer-item {
  flex: 1;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(1)
  > img {
  width: 40%;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(1)
  > p {
  font-family: var(--fontBarlow);
  font-size: 20px;
  color: var(--whiteColor);
  font-weight: 600;
  cursor: default;
  margin: 20px 0px;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(1)
  > .social {
  display: flex;
  margin: 20px 0px;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(1)
  > .social
  > .social-item {
  background-color: var(--mainColor);
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--whiteColor);
  margin-right: 10px;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > p {
  font-family: var(--fontBarlow);
  font-size: 22px;
  font-weight: 700;
  color: var(--whiteColor);
  position: relative;
  width: fit-content;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--mainColor);
  left: 0;
  top: 10px;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > ul {
  margin: 40px 20px;
  /* margin: 10px; */
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > ul
  > li {
  list-style: none;
  margin: 10px 0px;
  position: relative;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > ul
  > li::before {
  content: "";
  position: absolute;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  aspect-ratio: 1/1;
  background-color: var(--mainColor);
  border-radius: 50%;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > ul
  > li
  > a {
  text-decoration: none;
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-weight: 500;
  color: var(--whiteColor);
  transition: var(--trasitionRoutine);
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(2)
  > ul
  > li
  > a:hover {
  color: var(--mainColor);
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(3)
  > p {
  font-family: var(--fontBarlow);
  font-size: 22px;
  font-weight: 700;
  color: var(--whiteColor);
  position: relative;
  width: fit-content;
  cursor: default;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(3)
  > p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--mainColor);
  left: 0;
  top: 10px;
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(3)
  > .contact {
  margin: 40px 0px;
  /* margin: 10px; */
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(3)
  > .contact
  > .contact-item {
  margin: 16px 0px;
  padding: 10px 0px;
  display: flex;
  color: var(--mainColor);
}
.container
  > .footer-area
  > .footer-container
  > .blue-screen
  > .footer-item:nth-child(3)
  > .contact
  > .contact-item
  > p {
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-weight: 500;
  color: var(--whiteColor);
  margin-left: 15px;
  cursor: default;
}
.active {
  background-color: var(--mainColor);
  color: var(--whiteColor) !important;
}
#icon-login {
  position: relative;
  /* overflow: hidden; */
}
#icon-login::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: transparent;
  top: 100%;
}
#icon-login > .nav-menu {
  position: absolute;
  background-color: var(--mainColor);
  width: 100px;
  top: 110%;
  border-radius: 5px;
  animation: popup 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  display: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  z-index: 20;
}
#icon-login > .nav-menu > ul > li {
  list-style: none;
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-weight: 600;
  color: var(--whiteColor);
  text-align: center;
  padding: 10px;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: default;
}
#icon-login > .nav-menu > ul > li:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
}
#icon-login > .nav-menu > ul > li:nth-child(2) {
  border-radius: 0px 0px 5px 5px;
}
#icon-login > .nav-menu > ul > li:hover {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}
#icon-login > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.active-navmenu {
  display: block !important;
}
#icon-cart-view {
  position: relative;
}
#icon-cart-view > .count-carts {
  position: absolute;
  background-color: var(--mainColor);
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  transform: translateY(50%);
  right: 0;
}
#icon-cart-view > .count-carts > p {
  font-family: var(--fontBarlow);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--whiteColor);
}
@keyframes spinAround {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinAround1 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes upAndDown {
  to {
    transform: translateY(-20%);
  }
}
@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
